{{ define "content" }}

{{ template "basicspotlight" . }}

<section class="container text-center">
	<h2 class="text-center my-5"><strong>Redeem CafApp Delivery Cards</strong></h2>
	<p class="lead text-center">Enter the code at the back of your CafApp Delivery Cards below.</p>
	<p class="lead text-center">The cards are sold at the Bookmark for <span class="font-weight-bold text-success">$10</span>.
		With each delivery priced at <span class="font-weight-bold text-success">$2.50</span>, one card will allow you to order <span class="font-weight-bold text-success">four</span> times.</p>

	<div class="my-5"></div>

	<p class="w-75 mx-auto">Redeeming as user . Your current balance is .</p>

	<div class="my-4"></div>

	<form method="post">
		<div class="d-flex justify-content-center align-items-center">
			<div class="redeem-input-pre">CA-</div>
			<div class="redeem-input-wrapper">
				<input class="form-control form-control-lg redeem-input" type="text" id="redeem-input" name="redeem-input" data-inputmask="'mask': '****-****-****'">
			</div>
		</div>

		<div class="my-5"></div>

		<div class="redeem-submit">
			<button class="btn btn-primary btn-lg btn-block" type="submit">Redeem</button>
		</div>
	</form>

	<div class="my-5"></div>

	<a role="button" class="btn btn-link" href="/dash">Back to My Account</a>

</section>

{{ end }}

{{ define "scripts" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.min.js" data-autoinit="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.min.js"></script>
<script>
$(document).ready(function(){
	$(":input").inputmask();
  });
</script>
{{ end }}
