{{ define "content" }}

<section class="jumbotron jumbotron-fluid text-center bg-dark">
	<div class="container">
		<h1 class="jumbotron-heading text-ca-yellow2"><strong>{{ .Title }}</strong></h1>
	</div>
</section>

<section class="container-fluid text-center">
	<h2 class="font-weight-bold">Account Details</h2>

	<div class="my-4"></div>

	<div id="userdash-profile">
		<div class="row justify-content-between">
			<div class="col text-right">Full name:</div>
			<div class="col text-left">{{ .user.FullName }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Gustavus username:</div>
			<div class="col text-left">{{ .user.GusUsername }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Gustavus Student ID:</div>
			<div class="col text-left">{{ .user.GusID }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Total Orders:</div>
			<div class="col text-left">{{ .totalOrders }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Current balance:</div>
			<div class="col text-left">{{ formatMoney .user.CurrentBalanceInCents }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Phone Number:</div>
			<div class="col text-left" id="phone">
				<span id="phone-number">{{ .user.PhoneNumber }}</span>
			</div>
			<button class="btn btn-primary" id="phone-number-edit" type="button">Edit</button>
		</div>
	</div>
</section>

<section class="container text-center mt-5">
	<h2 class="font-weight-bold">Past Orders</h2>
	{{ if and (.orders) (len .orders) }}
	<table class="table table-responsive-md">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Destination</th>
				<th scope="col">Date</th>
				<th scope="col">Amount</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{{ range .orders }}
			<tr>
				<th scope="row">{{ fromTagToNumber .Tag }}</th>
				<td>{{ .Destination.Name }}</td>
				<td>{{ .CreatedAt.Format "Jan _2 3:04pm" }}</td>
				<td>{{ formatMoney .TotalInCents }}</td>
				<td>{{ statusCodeToText .StatusCode }}</td>
				<td><a href="">View details</a></td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ else }}
	<p>You havent placed any order! <a href="/order">Go here to order now!</a></p>
	{{ end }}
</section>

<section class="container text-center mt-5">
	<h2 class="font-weight-bold">Need help?</h2>
	<p>If you have questions and/or problems with your order or your account, please send us an email at <span
			class="text-info">cafappsupport@gustavus.edu</span>.<br />
		Thanks for using CafApp!
	</p>
</section>

{{ end }}
{{ define "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.min.js"
	data-autoinit="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.min.js"></script>
<script type="text/javascript">
	$("#phone-number-edit").on("click", function () {
		var val = $("#phone-number").html();
		if (val) {
			$("#phone").prepend(`<input class="txt font-codecard text-center phone-input" type="text"
			data-inputmask="'mask': '(999)-999-9999'" value="${val}" />`);
			$(":input").inputmask();
			$("#phone-number").remove();
			$(this).html('Update');
		} else {
			var txt = $(".txt").val();
			$.ajax({
				method: 'POST',
				url: '/api/edit-phone',
				contentType: 'application/json',
				dataType: 'json',
				data: JSON.stringify({phone: txt}),
				success: function (res) {
					$("#phone").prepend(`<span id="phone-number">${res}</span>`);
					$(".txt").remove();
					$(this).html('Edit');
				},
				fail: function (err) {
					console.log(err);
				}
			})
		}
		return false;
	});
</script>
{{ end }}