{{ define "content" }}

{{ template "basicspotlight" . }}

<section id="loginform" class="container text-center">
	<img class="mb-4" src="/static/img/change.png" alt="ok!" width="150" height="150">
	<h1 class="h3 mb-3 font-weight-normal">Redeem Successful!</h1>
	<p class="lead">Your Delivery Card was redeemed successfully! Your balance is now {{ formatMoney .NewBalance }}.</p>

	<div class="my-5"></div>

	<div class="redeem-submit">
		<button class="btn btn-primary btn-lg btn-block" type="submit">Click here to Order Now!</button>
	</div>

	<div class="my-5"></div>

	<a role="button" class="btn btn-link" href="/dash">Back to My Account</a>

	<div class="my-5"></div>
</section>

{{ end }}

