{{ define "content" }}

<section class="jumbotron jumbotron-fluid text-center bg-dark">
	<div class="container">
		<h1 class="jumbotron-heading text-ca-yellow2"><strong>{{ .Title }}</strong></h1>
	</div>
</section>

<section class="container text-center" id="toast-area">
	<!-- Left empty intentionally -->
</section>

<section class="container text-center">

	<h2 class="font-weight-bold">Account Details</h2>

	<div class="my-4"></div>

	<div id="userdash-profile">
		<div class="row justify-content-between">
			<div class="col text-right">Full name:</div>
			<div class="col text-left">{{ .user.FullName }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Gustavus username:</div>
			<div class="col text-left">{{ .user.GusUsername }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Gustavus Student ID:</div>
			{{ if .user.GusID }}
			<div class="col text-left">{{ .user.GusID }}</div>
			{{ else }}
			<div class="col text-left text-muted">Not Set</div>
			{{ end }}
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Total Orders:</div>
			<div class="col text-left">{{ .totalOrders }}</div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Current balance:</div>
			<div class="col text-left">{{ formatMoney .user.CurrentBalanceInCents }} <span class="px-3"><a href="/redeem">add</a></span></div>
		</div>
		<div class="row justify-content-between">
			<div class="col text-right">Phone Number:</div>
			<div class="col text-left" id="phone">
				{{ if .user.PhoneNumber }}
				<span id="phone-number">{{ .user.PhoneNumber }}</span>
				{{ else }}
				<span id="phone-number"><span class="text-muted">not set</span></span>
				{{ end }}
				<a class="px-3" href="#" role="button" id="phone-number-edit">edit</a>
			</div>
			<input type="hidden" id="current-phone-num" value="{{ .user.PhoneNumber }}" />
		</div>
	</div>
</section>

<section class="container text-center mt-5">
	<h2 class="font-weight-bold">Past Orders</h2>
	{{ if and (.orders) (len .orders) }}
	<table class="table table-responsive-md">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Destination</th>
				<th scope="col">Date</th>
				<th scope="col">Amount</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{{ range .orders }}
			<tr>
				<th scope="row">{{ fromTagToNumber .Tag }}</th>
				<td>{{ .Destination.Name }}</td>
				<td>{{ .CreatedAt.Format "Jan _2 3:04pm" }}</td>
				<td>{{ formatMoney .TotalInCents }}</td>
				<td>{{ statusCodeToText .StatusCode }}</td>
				<td><a href="/dash/order/{{ .UUID }}">View details</a></td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ else }}
	<p>You havent placed any order! <a href="/order">Go here to order now!</a></p>
	{{ end }}
</section>

<section class="container text-center mt-5">
	<h2 class="font-weight-bold">Need help?</h2>
	<p>If you have questions and/or problems with your order or your account, please send us an email at
		<span class="text-info">cafappsupport@gustavus.edu</span>.<br />
		Thanks for using CafApp!
	</p>
</section>

<section class="container text-center mt-5">
	<h2 class="font-weight-bold">Feedback</h2>
	<p>Throughout the initial trial run, we will be evaluating statistics as well as user feedback. So if you like CafApp and have some time, we would love to hear your comments and feedback.</p>
	You can use <a href="https://goo.gl/forms/2DnwngU1UY0PYrBn1" target="_blank">this Google Form link here</a> to take a short survey.<br/>
</section>

{{ end }}
{{ define "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.min.js"
	data-autoinit="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.min.js"></script>
<script type="text/javascript">
	function alert(msg, color) {
		$("#toast-area").html("");
		if (!msg) return
		if (!color) color = "primary"
		$("#toast-area").prepend(`
			<div class="alert alert-${color} alert-dismissible fade show" role="alert">
				${msg}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		`);
	}

	function clearPhone() {
		$("#phone").html("");
	}

	function showPhoneEdit() {
		phoneNum = $("#current-phone-num").val();
		$("#phone").prepend(`
			<div class="input-group input-group-sm">
				<input class="form-control font-codecard" type="text" id="phone-number" data-inputmask="'mask': '(999)-999-9999'"/>
				<div class="input-group-append">
					<button class="btn btn-outline-ca-yellow4" type="button" id="phone-number-submit">Update</button>
				</div>
			</div>
			<a class="px-3" href="#" role="button" id="phone-number-cancel">cancel</a>
		`);
		$(":input").inputmask();
		$("#phone-number").focus().val(phoneNum);
		setListeners();
	}

	function showPhoneNormal() {
		phoneNum = $("#current-phone-num").val();
		$("#phone").prepend(`
			<span id="phone-number">${phoneNum}</span>
			<a class="px-3" href="#" role="button" id="phone-number-edit">edit</a>
		`);
		setListeners();
	}

	function setListeners() {
		$("#phone-number-edit").on("click", function () {
			clearPhone();
			showPhoneEdit();
			return false;
		});

		$("#phone-number-submit").on("click", function() {
			phoneNum = $("#phone-number").val();
			$.ajax({
				method: 'POST',
				url: '/api/edit-phone',
				contentType: 'application/json',
				dataType: 'json',
				data: JSON.stringify({phone: phoneNum}),
				success: function (res) {
					console.log(res);
					$("#current-phone-num").val(res);
					clearPhone();
					showPhoneNormal();
					alert("Phone change success!", "success")
				},
				error: function (err) {
					console.log(err);
					clearPhone();
					showPhoneNormal();
					alert("Oh no! Phone change failed! Please try again later.")
				}
			})
			return false;
		});

		$("#phone-number-cancel").on("click", function() {
			clearPhone();
			showPhoneNormal();
			return false;
		})
	}

	window.onload = function() {
		setListeners();
	};
</script>
{{ end }}
