html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 250px;
}

@media (max-width: 575.98px) {
	.text-center-xs {
		text-align: center;
	}
}

#spotlight {
	/* min-height: 30vh; */
	background-image: url("/static/img/spotlight.jpg");
	background-size: cover;
	background-position: center center;
	border-bottom: 10px #C88A12 solid;
}

@media (max-width: 575.98px) {
	.spotlight-button-primary {
		margin: 8px auto;
		width: 90%;
	}
	.spotlight-button-secondary {
		margin: 8px auto;
		width: 90%;
	}
}

.spotlight-button-primary {
	padding-left: 48px;
	padding-right: 48px;
	margin: 8px;
}

.spotlight-button-secondary {
	margin: 8px;
}

#how-container {
	max-width: 600px;
	margin: 0 auto;
}

.how-icon {
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
	color: #C49317;
}

#userdash-profile {
	max-width: 500px;
	margin: 0 auto;
}

footer {
	border-top: 15px #C88A12 solid;
	min-height: 200px;
}

#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	/* position: relative; */
}

#footer > div {
	margin: 0 auto;
}

#footer-inner{
	position: absolute;
	top: 50%; left: 50%;
	transform:translate(-50%, -50%);
}

#loginform {
	/* min-height:50vh; */
	padding-top: 10vh;
}

.faq-q {
	font-size: 3rem;
	font-weight: bold;
}

/* --------- User Redeem ----------- */

.redeem-input-pre {
	font-family: 'Fira Mono', monospace;
	font-size: 1.5rem;
	white-space: nowrap;
	padding: 0 5px;
}

.redeem-input-wrapper {
	max-width: 20rem;
}

.redeem-input {
	font-family: 'Fira Mono', monospace;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
}

.redeem-submit {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.font-codecard {
	font-family: 'Fira Mono', monospace;
	text-transform: uppercase;
}
