html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 250px;
}

#spotlight {
	height: 50vh;
	background-image: url("/static/img/spotlight.jpg");
	background-size: cover;
	background-position: center center;
	border-bottom: 10px #C88A12 solid;
}

#how-container {
	max-width: 600px;
	margin: 0 auto;
}

.how-icon {
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
	color: #C49317;
}

#userdash-profile {
	max-width: 500px;
	margin: 0 auto;
}

#userdash-pastorders {
	max-width: 1000px;
	margin: 0 atuo;
}

#footer{
	position: absolute;
	bottom: 0;
	margin: 4rem 0 0 0;
	width: 100%;
	height: 200px;
	border-top: 15px #C88A12 solid;
}

#footer-inner{
	position: absolute;
	top: 50%; left: 50%;
	transform:translate(-50%, -50%);
}

#loginform {
	/* min-height:50vh; */
	padding-top: 10vh;
}

/* --------- Order Tracker ----------- */

#username-form{
    display: none;
}
.red{
    border: 1px solid red;
}
