{{ define "footer" }}
<footer id="footer" class="mt-5 bg-dark">
	<div class="d-flex flex-column h-100 justify-content-center align-content-center">
		<!-- <div class="text-center"><img src="/static/favicon.png" width="40"/></div> -->
		<div class="text-center text-white-50">CafApp by Enactus Gustavus</div>
	</div>
	<!-- <p id="footer-inner" class="text-white-50">CafApp (c) Enactus Gustavus 2018</p> -->
</footer>

<!-- <footer class="mt-5 bg-dark">
	<div class="row">
		<div class="col-2" style="height: 200px;">
			<img src="/static/img/enactuslogo.png" height="100px" />
		</div>
		<div class="col-2">
			asdf
		</div>
	</div>
</footer> -->
{{ end }}
