{{ define "topbar" }}
<div id="navbar">
	<nav>
		<div id="logo"><a href="/"></a></div>
		<a class="nav-resmenu" href="javascript:void(0);" onclick="toggleNav()">Navigation&nbsp;<i class="fa fa-bars" aria-hidden="true"></i></a>
		<ul id="nav-mainmenu">
			<li><a class="nav-link" href="/menu">Menu</a></li>
			<li><a class="nav-link" href="/news">News</a></li>
			<li><a class="nav-link" href="/about">About</a></li>
		</ul>
		{{ if .User }}
		<a class="nav-user" href="javascript:void(0);" onclick="toggleUsr()"><i class="fa fa-angle-down" aria-hidden="true"></i><span class="username"> {{ .User.Username }}</span> <i class="fa fa-user" aria-hidden="true"></i></a>
		<ul id="nav-usermenu">
			<li><a class="nav-userlink" href="/order">Order Now</a></li>
			<li><a class="nav-userlink" href="/profile">My Profile</a></li>
			<li><a class="nav-userlink" href="/logout">Logout</a></li>
		</ul>
		{{ else }}
		<a class="nav-button" href="/gg-login">LOG IN</a>
		{{ end }}
	</nav>
</div>

<div id="imagefade">
</div>
{{ end }}
