package config

var (
	// ENV : current environment
	ENV = "dev"

	// Port : port to run on
	Port = "7000"

	// DB info
	DBUsername = ""
	DBPassword = ""
	DBName     = ""
	DBHostname = ""
	DBPort     = ""
	DBDriver   = ""

	// the key used to sign jwt
	JWTSigningKey = ""

	// FrontendURL :
	// GGoauthID : Google Oauth client ID
	GGoauthID = ""
	// GGoauthSecret : Google Oauth client secret
	GGoauthSecret = ""
	// GGoauthRedirectURL : url to redirect after logging in
	GGoauthRedirectURL = ""
)
