<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Order Tracker | CafApp</title>

	<link rel="stylesheet" href="/static/css/cafapp.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/fontawesome/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/pachimari.css" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
	<style>
		html, body {
			height: 100vh;
			margin-bottom: 0;
		}
	</style>

</head>

<body class="bg-light">
	<div class="container h-100">

		<div class="d-flex flex-column align-items-stretch h-100">

			<div class="flex-shrink-1">

				<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded shadow-sm">
					<a class="navbar-brand" href="/">
						<img src="/static/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
						<span class="ca-logo-text text-ca-yellow1"><strong>&nbsp;CafApp Tracker</strong></span>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarsExample09">
						<ul class="navbar-nav mr-auto">
						</ul>
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="/dash"><i class="fa fa-chevron-left" aria-hidden="true"></i> Return to My Account<span class="sr-only">(current)</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

			<div class="flex-grow-1 overflow-auto" id="chat-scroll">

				<div class="py-2" id="chat-window">
				</div>

			</div>

			<div class="flex-shrink-1 bg-dark pt-3 px-3 rounded">
				<form class="input-group" id="main-input" name="main-input" onsubmit="">
					<input type="text" class="form-control" id="main-input-text" placeholder="Type something..." required>
					<div class="input-group-append">
						<button class="btn btn-outline-ca-yellow4" type="submit">Send</button>
					</div>
				</form>
				<small class="text-light ml-2">Type <strong>help</strong> to see available chat commands</small>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/chatbot.js"></script>
</body>

</html>
