{{ define "content" }}
<section id="spotlight" class="jumbotron jumbotron-fluid text-center">
	<div class="container">
		<h1 class="jumbotron-heading text-ca-yellow1"><img src="/static/favicon.png" width="50" height="50" class="d-inline-block align-middle" alt=""><strong>&nbsp;CafApp</strong></h1>
		<h4 class="text-light">Gustavus Marketplace Delivery Service</h4>
		<p class="text-white-50">By students, for students</p>
		{{ if .loggedIn }}
			<p class="text-center text-light">Logged in as: <span class="text-warning">{{ .currentUser.FullName }}</span></p>
			<a href="/order" class="btn btn-primary btn-lg m-2">Order now</a>
			<a href="/dash" class="btn btn-secondary btn-lg m-2">My Past Orders</a>
			<a href="/tracker" class="btn btn-secondary btn-lg m-2">Order Tracker</a>
		{{ else }}
			<a href="/login" class="btn btn-ca-yellow2 btn-lg m-2">Log In</a>
			<a href="javascript:void(0);" class="btn btn-secondary btn-lg m-2" onclick="scrollToInfo()">More info</a>
		{{ end }}
	</div>
</section>

<section class="container">
	<div id="how-container">
		<h2 class="text-center my-5"><strong>How It Works</strong></h2>
		<div class="d-flex align-items-center">
			<div class="order-1 how-icon px-4"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
			<div class="order-2 flex-grow-1">
				<h4><strong>Log in using your Gustavus account</strong></h3>
				<span>Only open to Gustavus members</span>
			</div>
		</div>
		<div class="d-flex align-items-center mt-4">
			<div class="order-1 how-icon px-4"><i class="fa fa-cutlery" aria-hidden="true"></i></div>
			<div class="order-2 flex-grow-1">
				<h4><strong>Choose your order</strong></h3>
				<span>Sandwiches, Fries, or Chicken? And did we mention free drinks?</span>
			</div>
		</div>
		<div class="d-flex align-items-center mt-4">
			<div class="order-1 how-icon px-4"><i class="fa fa-id-card" aria-hidden="true"></i></div>
			<div class="order-2 flex-grow-1">
				<h4><strong>Pay with your Caf account</strong></h3>
				<span>Orders are charged directly to your caf declining balance.</span>
			</div>
		</div>
		<div class="d-flex align-items-center mt-4">
			<div class="order-1 how-icon px-4"><i class="fa fa-car" aria-hidden="true"></i></div>
			<div class="order-2 flex-grow-1">
				<h4><strong>Receive food at the front door</strong></h3>
				<span>We work hard to deliver it right to your dorm!</span>
			</div>
		</div>
	</div>
</section>

<hr />

<section class="container">
	<h2 class="text-center my-5"><strong>Who We Are</strong></h2>
	<div class="row align-items-center">
		<div class="col-12 col-md-4 text-center">
			<img src="/static/img/enactuslogo.png" width="200" alt="Enactus">
		</div>
		<div class="col-12 col-md-8">
			Enactus is a bunch of cool and elitist people. Lorem ipsum dolor sit amet, est recteque periculis te, has in illud voluptatibus, vim verear atomorum consequat ad. Nec ex iusto voluptatum. <a href="/about">Learn more</a>
		</div>
	</div>
</section>
{{ end }}

{{ define "scripts" }}
<script>
function scrollToInfo(){
	document.querySelector('#how-container').scrollIntoView({
		block: "start",
		inline: "nearest",
		behavior: 'smooth'
	});
}
</script>
{{ end }}
