{{ define "content" }}

{{ template "basicspotlight" . }}

<section class="container">
	<div class="row align-items-center mt-3">
		<div class="col-12 col-md-4 text-center">
			<img src="/static/img/enactuslogo.png" width="200" alt="Enactus">
		</div>
		<div class="col-12 col-md-8">
			<p>The purpose of Enactus Gustavus is to inspire students to improve the world through social entrepreneurial actions by encouraging and establishing student led projects. With the intended goal of the project eventually becoming self sufficient.</p>
			<!-- <p>We are currently recruiting!</p> -->
			<p>Any contact or questions please get in touch with us through <a href="https://www.facebook.com/CafDelivery" target="_blank">our facebook page</a> or our email <span class="text-info">cafappsupport@gustavus.edu</span>.</p>
		</div>
	</div>
</section>

<hr />

<section class="container">
	<h2 class="text-center my-5"><strong>Team Members</strong></h2>
	<div class="row text-center">
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="/static/img/teammember/alli.jpg" width="140" height="140">
			<h4 class="mt-4">Alli Orta '19</h4>
			<p>President</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="/static/img/teammember/bryan.jpg" width="140" height="140">
			<h4 class="mt-4">Bryan Khoo '19</h4>
			<p>Vice President</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="/static/img/teammember/duyn.jpg" width="140" height="140">
			<h4 class="mt-4">Duy Nguyen '18</h4>
			<p>Developer</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="/static/img/teammember/brecklyn.jpg" width="140" height="140">
			<h4 class="mt-4">Brecklyn Schmidt '19</h4>
			<p>Secretary</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="/static/img/teammember/shaun.jpg" width="140" height="140">
			<h4 class="mt-4">Shaun Gilyard '19</h4>
			<p>Treasurer</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="140" height="140">
			<h4 class="mt-4">Andrew Peterson '19</h4>
			<p>Risk Manager</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="140" height="140">
			<h4 class="mt-4">Jon Yang '19</h4>
			<p>Marketing</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="140" height="140">
			<h4 class="mt-4">Duy Pham '19</h4>
			<p>Developer</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<img class="rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="140" height="140">
			<h4 class="mt-4">Lam Nguyen '21</h4>
			<p>Developer</p>
		</div>
	</div>
</section>

<hr />

<section class="container">
	<h2 class="text-center my-5"><strong>The website</strong></h2>
	<div class="text-center">The CafApp website <span class="text-primary">gustiecaf.app</span> is in active development and is hosted on <a href="https://github.com/duyng404/cafapp-returns" target="_blank">GitHub</a>. If you are a Gustie and have some coding skills up your sleeve, you are welcome to check it out and contribute!</div>
</section>

{{ end }}
