{{ define "content" }}

<section id="loginform" class="container text-center">
	<img class="mb-4" src="/static/favicon.png" alt="" width="100" height="100">
	<h1 class="h3 mb-3 font-weight-normal">Log In to CafApp</h1>
	<div class="mt-4"></div>
	{{ if .error }}
		<div class="alert alert-danger" role="alert">
			{{ .error }}
		</div>
	{{ else }}
		<div class="alert alert-light" role="alert">
			Please use your <strong>GusMail account</strong> ending with @gustavus.edu to log in
		</div>
	{{ end }}
	<a class="d-block mt-5" href="{{ .GGLoginUrl }}" id="gg-signin-button">
		<img src="/static/img/googlesignin.png" width="250" />
	</a>
</section>

<!-- <button id="signout" type="button" onClick="logout()">Log out</button> -->

{{ end }}

{{ define "scripts" }}
<!-- <script>
function onSuccess(googleUser) {
	var profile = googleUser.getBasicProfile();
	console.log('ID: ' + profile.getId());
	console.log('Name: ' + profile.getName());
	console.log('Image URL: ' + profile.getImageUrl());
	console.log('Email: ' + profile.getEmail());

}
function onFailure(error) {
	console.log(error);
}
function renderButton() {
	gapi.signin2.render('g-signin2', {
	'scope': 'profile email',
	'width': 250,
	'height': 50,
	'longtitle': true,
	'onsuccess': onSuccess,
	'onfailure': onFailure
	});
}
function logout() {
	var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
}
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->
{{ end }}
