{{ define "content" }}

{{ template "basicspotlight" . }}

<section class="container">
	<p class="lead text-center">Frequently Asked Questions</p>
	<!-- QA 1 -->
	<div class="row align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">What days of the week and what hours does Enactus deliver? Which buildings are available for cafeteria delivery?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">We will have our first run on Friday, March 15th, from 7:00pm to 10:00pm. We will be delivering to CoEd, Complex, Uhler, Rundstrom, Pittman/Sohre, and Southwest. This is part of the first trial run of the project. For this trial run we only operates on Friday and Saturday.</p>
		</div>
	</div>

	<!-- QA 2 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">Can I customize my food order?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">Meal customization will be limited during the trial run. Currently for each order, you can choose up to two predetermined meal sets: Deli sandwich, Burger, Chicken strip and Pizza. French fries and drink are included with each set. We will be expanding our menu options once the trial run is complete and we have finished data analysis.</p>
		</div>
	</div>

	<!-- QA 3 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">How do I place an order?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">When the service is open, you can head over to this website to start ordering. After logging in, click on “Order Now” and you will be able to choose a meal. After that, you will be able to customize your order, choosing your drink and your dorm. You will also have the option to redeem a Delivery Card if you haven’t already. After finalizing and confirm your order, you will be taken to the Order Tracker where you can see the status of your order in real time.</p>
		</div>
	</div>

	<!-- QA 4 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">Can I use my caf account to purchase food? What forms of payments are accepted?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">Yes! The meal itself will be purchased with your cafeteria account, while the service fee must be paid for by the CafApp Delivery Cards. The cost of each delivery is $2.50. With a CafApp card priced at $10, you can use one card for up to four deliveries. CafApp Delivery Cards can be purchased from the Bookmark.</p>
		</div>
	</div>

	<!-- QA 5 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">How long can I expect my meal to take?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">This will depend on how many orders are being placed each round. However, the delivery vehicle will be departing for delivery approximately every 30 minutes . If your order is prepared just as the vehicle departs, then the soonest you can expect your meal is within 30 minutes. If your meal is placed and prepared as soon as the vehicle departs, it could take upwards of 45 minutes.</p>
		</div>
	</div>

	<!-- QA 6 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">How do I know when my meal is delivered?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">When the delivery driver has arrived at your dorm, the driver will call and alert you that your food is outside of your building. Additionally, the website will send you a notification telling you that your driver has arrived. For this reason, make sure to keep the website open so you can receive the notification, and be ready at the door to make the deliveries go smoothly.</p>
		</div>
	</div>

	<!-- QA 7 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">I keep seeing trial run referenced. What is the trial run?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">The cafeteria delivery service is currently in a trial run phase, meaning we will be delivering for one month in order to collect data. Once the trial run is complete, the delivery service will be paused temporarily in order to analyze the data collected and improve our delivery process. During the trial run, limited food options will be available as well as longer waiting times. We thank you for your patience and support!</p>
		</div>
	</div>

	<div class="row justify-content-center">
		<a href="/" role="button" class="btn btn-lg btn-link">Back to homepage</a>
	</div>

</section>

{{ end }}
