{{ define "content" }}

{{ template "basicspotlight" . }}

<section class="container">
	<p class="lead text-center">Frequently Asked Questions</p>
	<!-- QA 1 -->
	<div class="row align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">What days of the week and what hours does Enactus deliver? Which buildings are available for cafeteria delivery?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">We will have our first run on Friday, March 15th, from 7:00pm to 10:00pm. We will be delivering to CoEd, Complex, Uhler, Rundstrom, Pittman/Sohre, and Southwest/IC. For Spring ‘19 semester, we will also run Saturday March 16th, Friday April 12th and Saturday April 13th.</p>
		</div>
	</div>

	<!-- QA 2 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">Can I customize my food order?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">Meal customization will be limited during the trial run. Currently for each order, you can choose up to two predetermined meal combos: Deli Sandwich (Vegetarian available), Burger, Chicken Strips and Pizza. French fries and a bottled drink are included with each combo.</p>
			<p class="text-center-xs">We will be expanding our menu options once the trial run is complete and we have finished data analysis.</p>
		</div>
	</div>

	<!-- QA 3 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">Can I use my caf account to purchase food? What forms of payments are accepted?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">Yes! The meal itself will be purchased with your cafeteria meal plan, while the service fee must be paid for using the CafApp Delivery Cards. The cost of each delivery is $2.50. With a CafApp card priced at $10, you can use one card for up to four deliveries. CafApp Delivery Cards can be purchased from the Bookmark.</p>
		</div>
	</div>

	<!-- QA 4 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">How do I place an order?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">When the service is open, you can head over to this website to start ordering. After logging in, click “Order Now” where you will select which meal combo(s) you want. After that, you will be able to customize your order, choosing your drink and your dorm. Either while order, or prior to (on the “Redeem” page) you will need redeem your pre-purchased Delivery Card. After finalizing and confirming your order, you will be taken to the Order Tracker where you can see the status of your order in real time.</p>
		</div>
	</div>

	<!-- QA 5 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">How long can I expect my meal to take?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">This will depend on how many orders are being placed each round. However, the delivery vehicle will be departing for delivery approximately every 30 minutes . If your order is prepared just as the vehicle departs, then the soonest you can expect your meal is within 15 minutes. If your meal is placed and prepared as soon as the vehicle departs, it could take upwards of 45 minutes.</p>
		</div>
	</div>

	<!-- QA 6 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">How do I know when my meal is delivered?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">When the delivery driver has arrived at your dorm, the website will send you a notification telling you that your driver has arrived. For this reason, make sure to keep the website open so you can receive the notification, and be ready at the door to make the deliveries go smoothly. Additionally, the driver will call and alert you that your food is outside of your building. After a driver calls you, you will have 5 minutes to pick up your order, after which your order is forfeited.</p>
		</div>
	</div>

	<!-- QA 7 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">Will my food be delivered to my door?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">Unfortunately, not for the trial run. When you receive your notification, the delivery vehicle will be outside of your building with your food. Upon notification, you can go outside of your building and your driver will give you your order.</p>
		</div>
	</div>

	<!-- QA 8 -->
	<div class="row mt-4 align-items-center">
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-info">Q.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs font-weight-bold">I keep seeing trial run referenced. What is the trial run?</p>
		</div>
		<div class="col-12 col-sm-1">
			<div class="d-flex w-100 h-100 justify-content-center align-items-center">
				<span class="faq-q text-ca-yellow1">A.</span>
			</div>
		</div>
		<div class="col-12 col-sm-11">
			<p class="text-center-xs">The cafeteria delivery service is currently in a trial run phase, meaning we will be delivering for one month in order to collect data. Once the trial run is complete, the delivery service will be paused temporarily in order to analyze the data collected and improve our delivery process. During the trial run, limited food options will be available as well as longer waiting times. We thank you for your patience and support!</p>
		</div>
	</div>

	<div class="row justify-content-center">
		<button class="btn btn-lg btn-link" onclick="topFunction()">Back to top</button>
	</div>

</section>

<hr class="my-4"/>
<a name="disclaimer"></a>

<!-- Disclaimer -->
<section class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-md-10 col-lg-9">
			<h2 class="text-center">CafApp Disclaimer</h2>

			<div class="my-4"></div>

			<h5>Notice of Risk</h5>
			<ul><li>This service can involve risk, injury, and other dangers. These dangers include, but are not limited to; food safety, cross-contamination of allergens and sensitive ingredients, etc.</li></ul>

			<h5>What services does Gustavus Enactus Cafeteria Delivery Service provide?</h5>
			<ul><li>The Gustavus Enactus Cafeteria Delivery Service (henceforth referred to as “the Service”) provides meals (henceforth referred to as “goods”) to the student body of Gustavus Adolphus College through the Gustavus Adolphus College’s Dining Services and Gustavus Enactus directly to the dormitory buildings located along Ring Road (Norelius, Sorenson, Gibbs & North (colloquially known as  Complex), Uhler, Rundstrom, Pittman, Sohre, and Southwest).</li></ul>

			<h5>Food Quality</h5>
			<ul><li>As a delivery service, the Service does not take responsibility for quality of any food delivered, as it is prepared by Gustavus Dining Services.</li></ul>

			<h5>Scheduling & short-term scheduling changes</h5>
			<ul>
				<li>The Service plans to be open for business on a consistent schedule, however, the Service must prioritize safety to reduce potential dangers if unfavorable circumstances arise. </li>
				<li>The Service will be closed in the event of: Gustavus Dining Service being closed during our specified hours, road conditions not permitting safe travel along Ring Road, etc.</li>
				<li>The Service will only be serving goods which Dining Service provides at time of order.</li>
			</ul>

			<h5>Notifications</h5>
			<ul>
				<li>The “My Account” tab of the Service webpage (https://gustiecaf.app) will provide each user with the history of orders and their current status (such as, but not limited to; placed, prepping, out for delivery, approaching, delivered. etc.).</li>
				<li>In the event of a failure to retrieve goods in response to the original notification a second notification will be given via call to the telephone number provided on the order. If the order is not collected at the delivery vehicle within 5 minutes of the telephone call being placed, the order, the cost of the order, and the cost of the delivery fee will be forfeited.</li>
			</ul>

			<h5>Storage of personal information</h5>
			<ul>
				<li>For invoicing purposes the Service will retain some personal information provided by our customers. Personal information stored includes, but is not limited to: name of buyer, location of delivery, student account number, phone number, etc.</li>
				<li>At no point will the Service make your information publicly available, or sell it to third parties.</li>
			</ul>

			<h5>Charges</h5>
			<ul>
				<li>The goods provided by the Service are charged separately from the cost of the delivery service fee.</li>
				<li>As users are students of Gustavus Adolphus College, all costs related to goods provided by Dining Services are charged directly to the ordering party’s Dining Services account (Meal Plan).</li>
				<li>All charges relating to the delivery of above stated goods will be charged separately, through the Gustavus Bookmark at the time of purchase of the Delivery Fee Cards.</li>
				<li>All prices displayed by the Service do not include tax.</li>
			</ul>

			<h5>Refund policy</h5>
			<ul>
				<li><strong>NO REFUNDS</strong> will be provided for goods and/or services.</li>
				<li>Each customer has a total of 5 minutes from the time of the phone call to collect delivered goods. Failure to collect aforementioned goods results in the forfeit of goods without refund, as The Service cannot store/resell foodstuffs beyond a safe limit of time.</li>
				<li>Any value of Delivery Fee Cards will not be refunded at any time, regardless of the remaining credit available at the end of trial periods.</li>
			</ul>

			<div class="row justify-content-center">
				<button class="btn btn-lg btn-link" onclick="topFunction()">Back to top</button>
			</div>
		</div>
	</div>
</section>

{{ end }}

{{ define "scripts" }}
<script>
function topFunction() {
	document.body.scrollTop = 0; // For Safari
	document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
{{ end }}
