{{ define "content" }}

{{ template "basicspotlight" . }}

<section class="container">
	<p class="lead text-center">Check us out on facebook:</p>
	<div style="max-width:500px; margin-left:auto; margin-right:auto">
		<div class="fb-page" data-href="https://www.facebook.com/CafDelivery" data-tabs="timeline" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CafDelivery" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CafDelivery">&lt;Gustavus Enactus Caf Delivery /&gt;</a></blockquote></div>
	</div>
</section>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=268528727406992&autoLogAppEvents=1"></script>

{{ end }}
