{{ define "content" }}

{{ template "basicspotlight" . }}

<section class="container">
	<h2 class="text-center my-5"><strong>Finalize Order</strong></h2>
	<p class="lead text-center">Review and place your order below.</p>

	<div class="row justify-content-center mt-5">
		<div class="col-md-8 col-lg-6">
			<hr />

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">{{ .selectedMealName }}</h5>
					<p class="text-muted font-italic">Meal Combo</p>
				</div>
				<div>
					<h5><strong>{{formatMoney .selectedMealPrice}}</strong></h5>
				</div>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">{{ .selectedDrinkName }}</h5>
					<p class="text-muted font-italic">Drink</p>
				</div>
				<div>
					<h5 class="text-muted">included</h5>
				</div>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">Delivery Fee</h5>
				</div>
				<div>
					<h5 class="font-weight-bold">{{formatMoney .deliveryFee}}</h5>
				</div>
			</div>

			<hr />

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1 font-weight-bold text-ca-yellow2">Total</h5>
				</div>
				<div>
					<h5 class="font-weight-bold text-ca-yellow2">{{formatMoney .orderTotal}}</h5>
				</div>
			</div>

			<hr />

			<h4 class="text-center">Payment</h4>

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">Your Caf Account</h5>
				</div>
				<div>
					<h5 class="font-weight-bold text-danger">{{formatMoney .cafAccountChargeAmount}}</h5>
				</div>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">CafApp Balance</h5>
				</div>
				<div>
					<h5 class="font-weight-bold text-danger">{{formatMoney .deliveryFee}}</h5>
				</div>
			</div>

			<hr />

			<p class="text-center">Order will be delivered to: {{ .destination }}</p>

			<hr />

			<h4 class="text-center">Disclaimer</h4>

			<p>By clicking Place Order, you agree to bla bla bla bla bla bla:</p>
			<ul>
				<li>bla</li>
				<li>bla</li>
				<li>bLAAAHHHH</li>
			</ul>
			<p>Thank you for using CafApp!</p>

			<div class="my-5"></div>

			<form action="" method="post">
				<button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
			</form>

			<div class="my-3"></div>

			<form action="" method="post">
				<input type="hidden" name="goToEdit" value="goToEdit" />
				<button class="btn btn-link btn-lg btn-block" type="submit">Or click here to edit your order</button>
			</form>

		</div>
	</div>
</section>

{{ end }}
