{{ define "content" }}

{{ template "basicspotlight" . }}

<section class="container">
	<h2 class="text-center my-5"><strong>Finalize Order</strong></h2>
	<p class="lead text-center">Review and place your order below.</p>

	<div class="row justify-content-center mt-5">
		<div class="col-md-8 col-lg-6">
			{{ if .error }}
			<div class="alert alert-danger text-center" role="alert">
				{{ rawHTML .error }}
			</div>
			{{ end }}

			<hr />

			{{ range .order.OrderRows }}
				<div class="text-center mb-4">
					<div><h5>{{ .MenuItem.DisplayName }}</h5></div>
				</div>
				{{ range .SubRows }}
					{{ if .Product.IsMain }}
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<h5 class="my-1">{{ .Product.DisplayName }}</h5>
							<p class="text-muted font-italic">Entree</p>
						</div>
						<div>
							<h5><strong>{{ formatMoney .Product.PriceInCents }}</strong></h5>
						</div>
					</div>
					{{ end }}
					{{ if .Product.IsSide }}
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<h5 class="my-1">{{ .Product.DisplayName }}</h5>
							<p class="text-muted font-italic">Side</p>
						</div>
						<div>
							<h5><strong>{{ formatMoney .Product.PriceInCents }}</strong></h5>
						</div>
					</div>
					{{ end }}
					{{ if .Product.IsDrink }}
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<h5 class="my-1">{{ .Product.DisplayName }}</h5>
							<p class="text-muted font-italic">Drink</p>
						</div>
						<div>
							<h5><strong>{{ formatMoney .Product.PriceInCents }}</strong></h5>
						</div>
					</div>
					{{ end }}
				{{ end }}
				<hr />
			{{ end }}

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">Delivery Fee</h5>
				</div>
				<div>
					<h5 class="font-weight-bold">{{ formatMoney .order.DeliveryFeeInCents }}</h5>
				</div>
			</div>

			<hr />


			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1 font-weight-bold text-ca-yellow2">Total</h5>
				</div>
				<div>
					<h5 class="font-weight-bold text-ca-yellow2">{{ formatMoney .order.TotalInCents }}</h5>
				</div>
			</div>

			<hr />

			<h4 class="text-center">Payment</h4>

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">Meal Plan Charge</h5>
				</div>
				<div>
					<h5 class="font-weight-bold text-danger">{{ formatMoney .order.CafAccountChargeAmountInCents }}</h5>
				</div>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="my-1">CafApp Charge</h5>
				</div>
				<div>
					<h5 class="font-weight-bold text-danger">{{ formatMoney .order.DeliveryFeeInCents }}</h5>
				</div>
			</div>

			<hr />

			<p class="text-center">
				<span class="text-danger">Important:</span>
				Order will be delivered to {{ .destination }}<br />
				Pick Up Location: {{ .pickupspot }}</p>

			<hr />

			<h4 class="text-center">Disclaimer</h4>

			<h5>Notice of Risk</h5>
			<ul>
				<li>This service can involve risk, injury, and other dangers. These dangers include, but are not limited to; food safety, cross-contamination of allergens and sensitive ingredients, etc.</li>
			</ul>

			<h5>Food Quality</h5>
			<ul>
				<li>As a delivery service, the Service does not take responsibility for quality of any food delivered, as it is prepared by Gustavus Dining Services.</li>
			</ul>

			<h5>Notifications</h5>
			<ul>
				<li>The “My Account” tab of the Service webpage (https://gustiecaf.app) will provide each user with the history of orders and their current status (such as, but not limited to; placed, prepping, out for delivery, approaching, delivered. etc.).</li>
				<li>In the event of a failure to retrieve goods in response to the original notification a second notification will be given via call to the telephone number provided on the order. If the order is not collected at the delivery vehicle within 5 minutes of the telephone call being placed, the order, the cost of the order, and the cost of the delivery fee will be forfeited.</li>
			</ul>

			<h5>Delivery</h5>
			<ul>
				<li><strong>NO REFUNDS</strong> will be provided for goods and/or services</li>
				<li>Each customer has a total of 5 minutes from the time of the second notification to collect delivered goods.</li>
				<li>Failure to collect results in the forfeit of goods without refund, as The Service cannot store/resell foodstuffs beyond a safe limit of time.</li>
				<li>Any value of Delivery Fee Cards will not be refunded at any time, regardless of the remaining credit available at the end of trial periods.</li>
			</ul>

			<p class="text-center"><a href="/faq#disclaimer" target="_blank">You can view the full version of the disclaimer here <i class="fa fa-external-link" aria-hidden="true"></i></a></p>

			<p class="text-center">Thank you for using CafApp!</p>

			<div class="my-3"></div>

			<form class="needs-validation" action="" method="post" novalidate>
				<div class="form-group mb-2">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="disclaimer-agree" required>
						<label class="form-check-label" for="disclaimer-agree" style="line-height: 2.3rem;">
							I have fully read, understood and AGREE to this disclaimer as stated.
						</label>
						<div class="invalid-feedback">
							You must agree before placing order.
						</div>
					</div>
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
			</form>

			<div class="my-3"></div>

			<form action="" method="post">
				<input type="hidden" name="goToEdit" value="goToEdit" />
				<button class="btn btn-link btn-lg btn-block" type="submit">Or click here to edit your order</button>
			</form>

		</div>
	</div>
</section>

{{ end }}
{{ define "scripts" }}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{{ end }}
